*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
#content{
    width: 100%;
    height: 90vh;
    background-color: navajowhite;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 250px;
    background-color: #1c1c1c;
}
.header_top{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: url(./content/images/header_top_background.jpg) center no-repeat;
    background-size: 100% 200px;
    
    
}
.header_top_text{
    margin-top: 20px;
    font-size: 42px;
    color: cornsilk;
}
.header_links{
    display: flex;
    width: 100%;
    height: 50px;
}
.headerButton{
    color: white;
    border: 0px;
}
.homeLink{
    width: 25%;
    background-color: #e68609;
}
.menuLink{
    width: 25%;
    background-color: #1c1c1c;
}
.contactLink{
    width: 25%;
    background-color: #e68609;
}
.aboutLink{
    width: 25%;
    background-color: #1c1c1c;
}
.home{
    width: 100%;
    height: 90vh;
    background-color: violet;
}
.menu_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    height: 90vh;
}
.menuWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}
.menuText{
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 30px;
}
.menu_item{
    width: 30%;
    margin-left: 54px;
}
.pizza_info{
    font-size: 32px;
    margin-bottom: 5px;
}
.pizza_ingredients{
    font-size: 20px;
}
.menu_img{
    height: 260px;
    width: 295px;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: #e68609;
    color: cornsilk;
}